body{
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6;
}
/*header*/
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}
.nav-list{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.nav-list a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
.nav-list a:hover{
    color: #ffca28;
    text-decoration: underline;
}

/*main*/
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.my-image{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #eee;
}
.skill-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.skill-card{
    flex: 2;
    padding: 10px 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}